In [ ]:
import sqlite3
import pandas as pd
import numpy as np
import plotly.express as px

## Creating Database/tables

In [ ]:
create_patient_info = '''CREATE TABLE patient_info(
    ID INT [PRIMARY KEY UNIQUE],
    HOSPITAL_ID TEXT UNIQUE,
    NAME TEXT ,
    BALANCE INT ,
    DOB datetime ,
    PROVIDER TEXT 
    
);'''

In [ ]:
patient_cols =[ 'ID',
    'HOSPITAL_ID' ,
    'NAME' ,
    'BALANCE' ,
    'DOB' ,
    'PROVIDER' ] 
    
hospital_cols =  ['ID' ,
    'PATIENT_ID' ,
    'HOSPITAL' ,
    'PHYSICIAN' ,
    'ADMITTED' ,
    'DISCHARGED']

In [ ]:
create_hos_info = '''CREATE TABLE hospital_info(
    ID INT PRIMARY KEY UNIQUE,
    PATIENT_ID INT UNIQUE,
    HOSPITAL TEXT ,
    PHYSICIAN TEXT ,
    ADMITTED datetime,
    DISCHARGED datetime);'''

In [ ]:
# drop tables 

drop_patients =  '''DROP TABLE patient_info'''

drop_hospitals = '''DROP TABLE hospital_info'''

conn = sqlite3.connect('hospital_data.db', timeout = 35)
conn.execute(drop_patients)
conn.execute(drop_hospitals)

conn.close()

In [ ]:
conn = sqlite3.connect('hospital_data.db',timeout=35)
conn.execute(create_hos_info)
conn.execute(create_patient_info)
conn.close()

In [ ]:
names1 = ['malik', 'jack', 'sam', 'arun', 'brian', 'skye', 'evan']
names = [[names1[i]] for i in range(len(names1))]

hospital_id = list(np.arange(331,338))
ID_list = np.arange(1,8)
HOSPITAL_ID  = np.arange(10001,10008)
BALANCE = [-100, 256, 443,655,735,-2000,123] 

DOB  = ['10-2-03', '1-4-22', '5-5-98', '11-3-2006 ', '6-6-66', '9-9-99', '2-20-89']
PROVIDER = ['cigna','etna', 'bcbs', 'united_health', 'medicade', 'bright', 'humana']
hos = ['st annes', 'gotham general', 'WWMCS', 'gotham general', 'st annes', 'gotham general', 'l tildens']
psychian = ['dr mark', 'dr hyde', 'dr polly', 'dr mark', 'dr hyde', 'dr meddlford', 'dr claus']
admit = [1,1,1,0,1,0,1]
DISCHARGED = [0,0,1,1,0,0,0]

print(ID_list)
print(HOSPITAL_ID)
print(BALANCE)
print(DOB)
print(PROVIDER)

In [ ]:
master_list = [list(ID_list), list(HOSPITAL_ID),names1,
               BALANCE, DOB, PROVIDER, hospital_id,

tables = ['patient_info', 'hospital_info']

In [ ]:
# def update(conn, tables, columns, data_lists):
#     c = conn.cursor()
#     print('UPDATE {} SET {}= ?'.format(table,column))
#     for x in tables:
#         for b in columns:
#             for z in data_lists:
#                 c.executemany('INSERT INTO {x} ({b}) values(?)'.format(table,column), ((val,) for val in z))
#     #print(c.rowcount(), 'updated')
#     conn.commit()
#     c.close()

In [ ]:
conn = sqlite3.connect('hospital_data.db',timeout=45)
update(conn, tables, , master_list)

In [ ]:
conn = sqlite3.connect('hospital_data.db',timeout=45)
update(conn, 'patient_info', 'NAME', master_list)

In [ ]:
conn = sqlite3.connect('hospital_data.db',timeout=45)
update(conn, 'patient_info', 'HOSPITAL_ID', HOSPITAL_ID)

In [ ]:
def update_tables(conn, table, column, data):
    c = conn.cursor()
    for item in data:
        print("INSERT INTO {} ({}) VALUES (?)".format(table, column))
        c.execute("INSERT INTO {} ({}) VALUES (?)".format(table, column), (str(item), ))
        
    print("n_rows", conn.cursor().rowcount, "Updated!")
        
    conn.commit()
    c.close()

In [ ]:
conn = sqlite3.connect('hospital_data.db',timeout=10)

update_tables( conn,'patient_info', 'NAME', names1)
update_tables( conn,'patient_info', 'ID', ID_list)
update_tables( conn,'patient_info', 'HOSPITAL_ID', HOSPITAL_ID)
update_tables( conn,'patient_info', 'BALANCE', BALANCE)
update_tables( conn,'patient_info', 'DOB', DOB)
update_tables( conn,'patient_info', 'PROVIDER', PROVIDER)

conn.close()

In [ ]:
# view table 
query1 = '''
SELECT *
FROM patient_info ;
'''

In [ ]:
conn = sqlite3.connect('hospital_data.db',timeout=10)
df = pd.read_sql(query1, conn)
conn.close()

In [ ]:
conn2 = sqlite3.connect('flights.db')

In [ ]:
table_query = 'SELECT * FROM sqlite_master;'

pd.read_sql(table_query, conn2 )['sql']

In [ ]:
query1 = '''SELECT *
            FROM airports
        '''

pd.read_sql(query1, conn2)

In [ ]:
query2 = """ 
SELECT name, city, country, CAST(COUNT(DISTINCT(timezone))as INT) as 'Number of Timezones'
FROM airports
GROUP BY country
ORDER BY 'Number of Timezones' DESC;
"""
pd.read_sql(query2, conn2)

In [ ]:
# highest airport 
query2 = '''

SELECT name, city, country, MAX(altitude)
FROM airports
'''
pd.read_sql(query2,conn2)

In [ ]:
query3 = '''
SELECT name,country, COUNT(DISTINCT(airline)) as 'num airlines'
FROM airports
JOIN routes 
ON routes.dest = airports.code
GROUP BY name
ORDER BY COUNT(DISTINCT(airline)) DESC;
'''

pd.read_sql(query3, conn2)

In [ ]:
query4 = '''
SELECT * 
FROM airlines 
JOIN airports 
on airlines.icao = airports.icao
JOIN routes
ON routes.dest = airports.code
'''

pd.set_option('display.max_columns',None)
pd.read_sql(query4, conn2)

In [ ]:
query5 = '''
SELECT airlines.name, source, dest 
FROM airlines 
JOIN airports 
on airlines.icao = airports.icao
JOIN routes
ON routes.dest = airports.code
WHERE city = 'Pasco' AND airline = 'DL'
'''


pd.set_option('display.max_columns',None)
pd.read_sql(query5, conn2)

In [ ]:
query6 = '''
SELECT *
FROM airlines 
JOIN airports 
on airlines.icao = airports.icao
JOIN routes
ON routes.dest = airports.code
LIMIT 5

'''
pd.set_option('display.max_columns',None)
pd.read_sql(query6, conn2)

In [ ]:
query8 ='''SELECT sub.*
  FROM (
        SELECT *
          FROM airports
         WHERE country = 'Canada'
       ) sub
  WHERE sub.altitude > 5000'''

pd.read_sql(query8,conn2)

In [ ]:
query9 ='''
SELECT source, dest
FROM routes
WHERE dest = source

'''


pd.read_sql(query9,conn2)

In [ ]:
 q = '''select * 
from airlines'''
    
pd.read_sql(q,conn2)

In [ ]:
## other Analysis

In [ ]:
df = pd.read_csv('/Users/brendanhutchinson/Downloads/archive (4)/Train_Inpatientdata-1542865627584.csv')